# Object file
*.o

# Ada Library Information
*.ali

# Создано https://www.toptal.com/developers/gitignore/api/windows
# Изменить на https://www.toptal.com/developers/gitignore?templates=windows

### Windows ###
# Файлы кеша миниатюр Windows
Thumbs.db
Thumbs.db: encryptable
ehthumbs.db
ehthumbs_vista.db

# Файл дампа
* .stackdump

# Конфигурационный файл папки
[Dd] esktop.ini

# Корзина, используемая в общих папках
$ RECYCLE.BIN /

# Файлы установщика Windows
*.такси
* .msi
* .msix
* .msm
* .msp

# Ярлыки Windows
* .lnk

# Конец https://www.toptal.com/developers/gitignore/api/windows
